.header {
    padding: 30px;
    text-align: center; 
    background-image: linear-gradient(rgb(232, 26, 15), rgb(255, 239, 235));
    color: rgb(46, 46, 46);
  }
p { font-family: Garamond, serif; }
h1 {font-family: Garamond, serif; }
h4 {font-family: Arial; }
h5 {font-family: Arial; }
p { line-height: 1.5;
}
.header h1 {
    font-size: 40px;
  }
* {
    box-sizing: border-box;
  }
.row {
    display: flex;
    flex-wrap: wrap;
  }
.side {
    flex: 30%; 
    background-color: #f1f1f1; 
    padding: 20px; 
  }
.main {
    flex: 70%; 
    background-color: white; 
    padding: 20px; 
  }

@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
 
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  .navbar {
    overflow: hidden; 
    background-color: #333; /
  }
  
  .navbar a {
    float: left; 
    display: block; 
    color: white; 
    text-align: center;
    padding: 14px 20px; 
    text-decoration: none; 
  }
  
  .navbar a.right {
    float: right; 
  }
  
  .navbar a:hover {
    background-color: #ddd; 
    color: black; 
  }