body {
  background-color: rgb(18, 18, 18);
}

.header {
  padding: 70px;
  text-align: center;
  background-color: black;
  color: rgb(144, 117, 63);
  font-size: 30px;
}
.navbar {
    overflow: hidden;
    background-color: rgb(18, 18, 18)
}
.navbar a {
    float: left;
    display: block;
    color: rgb(199, 185, 185);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a.right {
    float: right;
}
.navbar a:hover {
    background-color: darkgray;
    color:rgb(18, 18, 18);
    border-radius: 20px;
}
p {font-family: Georgia;}
h1 {font-family: Georgia;}
h2 {font-family: Georgia;}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 100%;
  max-height: 560px;
  position: relative;
  margin: auto;
  padding-bottom: 30px;
}

.mySlides {
  display: none;
}
.slidepic {
  max-height: 580px;
  width: 100%;
}

.textslide {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.palkki {
    color: rgb(144, 117, 63);
    background-color: rgb(199, 185, 185);
    text-align: center;
    padding: 14px 20px;
}

* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  height: 420px;
  background-color: rgb(18, 18, 18);
  border: 1px solid rgb(144, 117, 63);
  text-align: center;
  color: rgb(144, 117, 63);
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.tekstiom {
  text-align: left;
  padding-left: 20px;
}
.linkkivari {
  color: rgb(199, 185, 185);  
}
.yleinen {
  color: rgb(144, 117, 63);  
}

